{% extends "Gallery/base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid bg-1">
  <div class="pt-4">
    <h6 class="mt-0 mb-3">FILM</h6>
    <h3>The King Of Norway</h3>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Libero euismod ex cursus; ad malesuada auctor ligula. Lacinia nascetur porta at phasellus eros urna sem nascetur.</p>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/Qw3FZEnyu3Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <button type="button" class="mt-5 mb-3 btn btn-outline-light">Prislista</button>
  </div>
</div>

<div class="container-fluid bg-2">
  <div class="pt-4">
    <h6 class="mt-0 mb-3">FILM</h6>
    <h3>giants of the sea</h3>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Libero euismod ex cursus; ad malesuada auctor ligula. Lacinia nascetur porta at phasellus eros urna sem nascetur.</p>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/ZrIU6k1EJ_4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <button type="button" class="mt-5 mb-3 btn btn-outline-light">Prislista</button>
  </div>
</div>

<div class="container-fluid bg-1">
  <div class="pt-4">
    <h6 class="mt-0 mb-3">FILM</h6>
    <h3>The dansing cranes</h3>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Libero euismod ex cursus; ad malesuada auctor ligula. Lacinia nascetur porta at phasellus eros urna sem nascetur.</p>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/mnHob4ECiyw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <button type="button" class="mt-5 mb-3 btn btn-outline-light">Prislista</button>
  </div>
</div>
{% endblock %}
